HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### config markdown ###
API_CONTRACT.md
BOOKMARK_API_SPEC.md
DATA_FLOW_GUIDE.md
DEBUG_LOG.md
FRONTEND_API_SPEC.md
WORK_LOG.md
*I.md

### VS Code ###
.vscode/

### Kotlin ###
.kotlin

application-local.properties
.env
.env.local
.env.production
local.properties